* {
  font-family: Poppins, sans-serif;
  margin: 0;
}

header {
  width: 100%;
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 25px 0px;
}
