* {
  font-family: Poppins, sans-serif;
  margin: 0;
}

html {
  background-color: #f8f8f8;
}

header {
  width: 100%;
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 25px 0px;
}

main {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-grid {
  width: 100%;
  display: grid; /* Esto activa el grid */
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 20px; /* espacio entre productos */
  margin-top: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card .product-button {
  display: flex;
  justify-content: end;
}

.product-card .product-button a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #31343c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.product-card .product-button a:hover {
  background-color: #555;
}
