* {
  font-family: Poppins, sans-serif;
  margin: 0;
}

html {
  background-color: #f8f8f8;
}

header {
  width: 100%;
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 25px 0px;
}

main {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-grid {
  width: 100%;
  display: grid; /* Esto activa el grid */
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 20px; /* espacio entre productos */
  margin-top: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card .product-name {
  font-size: 26px;
  font-weight: 700;
  color: darkcyan;
}

.product-card .product-category {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.product-card .product-price {
  font-size: 20px;
  font-weight: bold;
}

.product-card .product-button {
  display: flex;
  justify-content: end;
}

.product-card .product-button a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #31343c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.product-card .product-button a:hover {
  background-color: #555;
}

.pagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: darkcyan;
  color: white;
}

.pagination a {
  color: white;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

.back-button a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #31343c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.product-detail {
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}

.product-detail img {
  flex: 0 0 300px;
  height: auto;
  border-radius: 8px;
}

.product-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.product-data .product-name {
  font-size: 36px;
  font-weight: 700;
  color: darkcyan;
}

.product-data .product-category {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.product-data .product-price {
  font-size: 24px;
  font-weight: bold;
}
